button {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	color: black;
	margin-bottom: 15px;
}

div {
	margin: 0 auto;
	text-align: center;
}